.container {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 800px;
}
.button {
  border-radius: 2px;
  border-color: #949db9;
  background-color: #596ea1;
}
.button:hover {
  background-color: #334f72 !important;
}
/* .imageContainer {
  position: relative;
  width: 100%;
} */
.imageContainer {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* .heroImage {
  width: 100%;
} */
.heroImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Desktop Styling */
.heroText {
  padding: 8% 5%;
  margin-left: 5%;
  color: #13294b;
  line-height: 2;
  position: relative;
  display: block;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .imageContainer {
    height: 300px;
  }
  .heroText {
    margin-left: 0;
    text-align: center;

  }

}

/* Media Queries Tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {

  .container {
    flex-direction: column;
    height: 500px;
  }

  .heroText {
    top: 55%;
  }

  .button {
    width: auto;
  }
}

@media screen and (max-width: 425px){

  .container {
    height: 425px;
  }

  .imageContainer {
    height: 200px;
  }
  .heroText {
    top: 20%;
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .heroText {
    width: 50%;
  }
}